.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;

  @media all and (max-width:768px) {
    flex-flow: column nowrap;
  }
}

.resultList {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 40px;
}

.buttonsWrap {
  display: flex;
}